Section 7.1

1. 

''' SQL
SELECT ModelYear, Make, Model
FROM evregistry;

'''

2.

'''SQL

SELECT DISTINCT ElectricVehicleType
FROM evregistry;

'''

3.

'''SQL 

SELECT *
FROM evregistry
WHERE ElectricVehicleType = "Battery Electric Vehicle (BEV)";

'''

4.

'''SQL

SELECT Make, Model
FROM evregistry
WHERE BaseMSRP BETWEEN 20000 AND 35000;

'''

Section 7.2

1.

'''SQL

SELECT *
FROM evregistry
WHERE City IS NULL;

'''

2. 

'''SQL

SELECT Make, Model, ElectricVehicleType
FROM evregistry
WHERE VIN LIKE '%3E1EA1J';

'''

3.

'''SQL

SELECT ModelYear,Make,Model,ElectricVehicleType,ElectricRange
FROM evregistry
WHERE Make IN ('Tesla', 'Chevrolet')
ORDER BY Make, ModelYear DESC;

'''

4.

'''SQL

SELECT StationID, COUNT(StationID) AS NumOfUses
FROM evcharging
GROUP BY StationID
ORDER BY NumOfUses DESC
LIMIT 5;

'''

5.

'''SQL

SELECT userid, MIN(chargeTimeMins) AS minTime, MAX(chargeTimeMins) AS maxTime
FROM evcharging
WHERE chargeTimeMins > 3600
GROUP BY userid
ORDER BY maxTime DESC, minTime DESC;

'''

Section 7.3

1.

SELECT weekday, ROUND(AVG(chargeTimeHrs), 2) AS average_charging_time
FROM evcharging
GROUP BY weekday
ORDER BY average_charging_time DESC

2. 

SELECT userId,
       ROUND(SUM(kwhTotal), 2) AS totalPower
FROM evcharging
GROUP BY userId
ORDER BY totalPower DESC
LIMIT 15;

3.

SELECT df.typeFacility, count(Distinct fc.stationID) as num_stations

FROM factcharge fc
INNER JOIN dimFacility df
ON fc.facilityID = df.FacilityKey
GROUP BY 1
ORDER BY 2 DESC;

4.

Primay Key

 A primary key is like a special identification code for each record in a database table. It ensures that each record has a unique identity and helps in organizing and retrieving data efficiently.

Foregin Key

A foreign key acts as a connection between tables, similar to a bridge linking related data. It enables the establishment of relationships by referencing a primary key in another table, ensuring data integrity and enabling efficient retrieval of associated information.

5. 

SELECT userid, MIN(chargeTimeMins) AS minTime, MAX(chargeTimeMins) AS maxTime
FROM EVCharging
GROUP BY userid
HAVING maxTime > 60
ORDER BY minTime, maxTime;